.inputWrap {
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  
  input {
    flex-grow: 1;
  }

  .status {
    position: absolute;
    right: 8px;
    font-size: 12px
  }
}