@import "../../styles/colors.scss";

.login {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;

  .form {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 40px;
    background-color: $white;
    border-radius: 8px;
    align-self: center;
    box-shadow: 0px 1px 3px -1px $black;

    h2 {
      text-align: center;
      color: $primaryDark;
      font-size: 20px;
      text-transform: uppercase;
    }

    .submit {
      margin-top: 30px;

      &:disabled {
        background-color: #CCC;
        color: #666
      }

      &:hover {
        opacity: 1;
      }
    }

    .link {
      text-align: center;
      color: $primary;
      margin-top: 16px;
      cursor: pointer;
      text-transform: lowercase;
      &:hover {
        opacity: 0.5;
      }
    }
  }
}
